
<div [ngSwitch]="day">

    <div *ngSwitchCase="1"><i> Today is the Monday ! First day of the week..start working.</i> </div>
    <div *ngSwitchCase="2"><i> Today is the Tuesday ! Second day of the week..start working again.</i> </div>
    <div *ngSwitchCase="3"><i> Today is the Wednesday ! Well...it's a third working day of the week.</i> </div>
    <div *ngSwitchCase="4"><i> Today is the Thursday ! Oh ! It's a working day agaian...still feeling better as tomorrow is Friday :D </i></div>
    <div *ngSwitchCase="5"><i> Today is the Friday ! Finally...It's Friday. Meaning end of the week...Happy Weekend !! </i></div>
    <div *ngSwitchCase="6"><i> Today is the Sunday ! I am enjoying the sunshine. </i></div>
    <div *ngSwitchCase="7"><i> Today is the Sunday ! I am enjoying the sunshine. </i></div>
    
    <div *ngSwitchDefault> Invalid value for day ! Error </div>
    
    </div>